* {
  margin: 0;
  padding: 0;
}
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}
body {
  background: #020305 url('../imgs/.jpg') center center no-repeat;
  color: #fff;
  font-family: 'Oswald', sans-serif !important;
  font-size: 14px;
  max-width: 100%;
  animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}


#page-wrap {
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

h1 {
  letter-spacing: 3px;
  margin: 25px 0;
  text-transform: uppercase;
}
.index-sell, .index-headline {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
.index-headline {
  color: #000;
  font-size: 36px;
  height: 0;
  letter-spacing: 1px;
  top: 55px;
}
.index-sell, .anticipate {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-transform: lowercase;
}
.index-sell { top: 155px; }
#quiz .anticipate {
  color: #1c2d37;
  font-size: 32px;
  line-height: 41px;
  padding: 50px 0 0 0;
  text-shadow: 1px 1px rgba(255,255,255,.666);
}
.transparent {
  color: transparent;
  display: none;
  opacity: 0;
  visibility: hidden;
}
#start-quiz {
  margin-top: 25px;
}
.img-index {
  display: block;
  left: 25px; /* 27px */
  margin: 0 auto;
  position: absolute;
}
.text1 {
  font-size: 13px;
  line-height: 21px;
  margin: 25px 25px 0;
  padding: 110px 25px 0;
  position: relative;
  text-align: center;
}
.take-quiz-btn, .embed-btn, .close-btn {
  -webkit-appearance: none;
  border: none;
  background: #28505e;
  color: #f3f4ef;
  cursor: pointer;
  font-family: 'Oswald', sans-serif !important;
}
.take-quiz-btn, .close-btn {
  background: #fff;
  font-size: 21px;
  text-shadow: 0px 0px rgba(66,66,66,.666);
  text-transform: uppercase;
  color: #000;
}
.take-quiz-btn {
  top: 267px;
  width: 259px;
}
.index-btn {
  height: 49px;
  /*left: 168px;
  padding: 9px 0 6px 0; */
  position: absolute;
  top: 267px; /* 283 */
  width: 100%;
}
#replay {
  display: block;
  height: 46px;
  line-height: 46px;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.index-btn:hover, #replay:hover {
  background: ;
}
.results-img {
  border: 0px solid #ebe9e6;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48%;
  float: left;
}
.share {
  bottom: 25px;
  position: absolute;
}
.lb {
  left: 24px;
}
.rb {
  left: 94px;
}
.share img {
  width: 45px;
}
.shareprompt {
  bottom: 6px;
  left: 24px;
  position: absolute;
}
.designby {
  bottom: 6px;
  font-size: 14px;
  right: 24px;
  line-height: 21px;
  position: absolute;
}
.designby img {
  height: auto;
  margin-bottom: -4px;
  width: 45px;
}
.shadow1 {
  color: #ebe9e6;
  text-shadow: 2px 2px 5px rgba(15, 15, 15, .99);
}
.diminish { font-size: 76%; }
.text-indent {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#quiz {
  margin: 0 18px;
  padding: 0 0 0 1px;
  position: relative;
  -webkit-transition: all linear .35s;
  -moz-transition: all linear .35s;
  -o-transition: all linear .35s;
  -ms-transition: all linear .35s;
  transition: all linear .35s;
}
.quiz-overlay, .result {
  height: 450px; /* 359px */
  position: absolute;
  width: 100%;
  z-index: -1;
}
.index .quiz-overlay, .quiz-overlay {
  background: # url(../imgs/.png);
  background-size: cover;
}
.index .quiz-overlay {
  left: 24px;
}
#quiz ul li div.quiz-overlay { margin: 0; }
#quiz ul {
  list-style-type: none;
  margin-top: 0;
}
#quiz h3 {
  color: #fff;
  font-size: 22px; /* 18*/
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 1px 0;
  min-height: 64px;
  padding: 9px 50px 0;
  text-align: center;
}
#quiz ul li {
  height: 335px;
  margin: 25px 0 95px 0;
  max-height: 335px;
  min-height: 335px;
}
#quiz ul li div {
  color: #000000;
  margin: 10px 0;
  padding: 1px 0;
}
#quiz ul li div.mtm {
  margin-top: 20px;
}
#quiz input {
  opacity: 0;
  vertical-align: middle;
  width: 20px;
}
#quiz label, #quiz input#submit-quiz {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  display: inline-block;
  z-index: 99;
}

#quiz label {
  height: px;
  font-size: 1.2em;
  line-height: 1.2em;  /* Added */
  margin: 0 20px 0 0;
  max-width: 100%;
  min-width: 100%;
  padding: 10px 10px 10px 10px;
  /*width: 476px;*/
}
#quiz h3.showmyscore {

}
#quiz input#submit-quiz {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff; /* #098636 */
  border: none;
  color: #000;
  display: block;
  font-family: 'Oswald', sans-serif !important;
  font-size: 21px;
  height: 74px;
  margin: 43px auto 0;
  opacity: 1;
  width: 250px;
}
#quiz label, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz, #replay, .take-quiz-btn {
  -webkit-transition: all ease .11s;
  -moz-transition: all ease .11s;
  -o-transition: all ease .11s;
  -ms-transition: all ease .11s;
  transition: all ease .11s;
}
#quiz label:hover, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz:hover, #replay:hover, .take-quiz-btn:hover {
  background: #000 url('../imgs/tvnoise1.gif') center center repeat;
  color: #fff;
}
#quiz .quiz-progress {
  color: #000;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-shadow: 0px 0px #131313;
}
.nomargin { margin: 0;}

.test-results2 {
  color: #000;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 0px 0px rgba(2,3,5,.666);
}
.test-results2 .score {
  color: #fff; /*#e2220d*/
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.you-chose { margin-bottom: 7px; }
.embed {
  font-size: 14px;
  position: absolute;
  right: 26px;
  text-shadow: 1px 1px #131313;
  top: 8px;
}
#modalbg {
  background: #333;
  display: none;
  height: 100%;
  left: 0;
  opacity: .4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
#modalwindow {
  background: rgba(255,255,255,.95);
  border: 3px outset #CCC;
  display: none;
  height: 254px;
  left: 25px;
  padding: 32px;
  position: absolute;
  top: 35px;
  width: 480px;
  z-index:10;
}
#modalmsg {
  color: #222;
  text-align: center;
}
.embed-btn {
  background-color: transparent;
  font-size: 14px;
}
textarea.c-p {
  display: block;
  height: 50px;
  margin: 25px auto;
  width: 420px;
}
.close-btn {
  display: block;
  margin: 70px auto 0; /*197*/
  padding: 12px 24px;
}
.results-overlay {
	background-color: transparent;
	margin: 10px 10px 10px 10px;
  /* max-height: 325px;  */
	position: relative;
	/*width: 80%;*/
}
.results-overlay .quiz-overlay {
  left: 0px;
  top: 0px;
}
.results-text {
	padding: 0px;
  width: 50%;
  float: right;
}
.score-details {
  font-size: 18px; /* 14 */
  line-height: 28px; /* 20 */
}
.score-details-sm {
  font-size: 12px;
  line-height: 19px;
}
.result {
  height: 325px;
}
.priest {
  background: url(../imgs/.jpg) no-repeat;
}
.megadeth {
  background: url(../imgs/.jpg) no-repeat;
}
.maiden {
  background: url(../imgs/.jpg) no-repeat;
}
.dio {
  background: url(../imgs/.jpg) repeat;
}

/*  Bootstrap stuff   */

.fade {
  opacity:0;
  -webkit-transition:opacity .0s linear !important;
  -o-transition:opacity .0s linear !important;
  transition:opacity .0s linear !important;
}

.modal-dialog {
    width: 96% !important;
    height: 96% !important;
    margin: 0px auto !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50) !important;
    opacity: 0.5 !important;
}

.modal-dialog,
.modal-content {
    height: 96% !important;
}

.modal-body {
    max-height: calc(96% - 0px) !important;
    overflow-y: hidden !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.modal-header {
    min-height: 16.43px;
    padding: 5px !important;
    border-bottom: 0px solid #e5e5e5 !important;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    position: absolute !important;
    z-index: 3000 !important;
    right: 0% !important;
    /* top: 10px; */
    margin-top: 15px !important;
    margin-right: 15px !important;
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    body {
    font-size: 10px !important;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    }

    #quiz h3 {
    color: #fff;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 1px 0;
    min-height: 64px;
    padding: 9px 50px 0;
    text-align: center;
    }

    #quiz label {
    height: px;
    font-size: 12px !important;
    line-height: 1.2em;
    margin: 0 20px 0 0;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 10px 10px 10px;
    /* width: 476px; */
    }

    #quiz ul li div.mtm {
    margin-top: 0px !important;
    }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  #quiz ul li {
    height: 835px;
    background-color:green;
    margin: 25px 0 95px 0;
    max-height: 835px;
    min-height: 835px;
  }
  .quiz-overlay, .result {
    height: 450px; /* 359px */
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  


}


